* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  overflow-x: hidden;
}

header {
  position: absolute;
  z-index: 20;
  width: 100%;
}
header .hamburger_btn {
  color: #ffffff;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
}
header h1 {
  color: #ffffff;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}
/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}
/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}
/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 60px;
  float: right;
}

.bg-image {
  /* The image used */
  background-image: url("../assets/images/backround.jpg");
  /* Add the blur effect */
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  z-index: -100;
  margin: 0;
  width: 100%;
}

.banner {
  width: 100vmax;
  height: 100%;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
}
.banner .planet_container {
  position: relative;
  float: right;
  width: 85vmin;
  top: 9vmin;
  bottom: 9vmin;
  box-sizing: border-box;
}
.banner .planet_container #planet_svg {
  position: absolute;
  z-index: 3;
  width: auto;
  box-sizing: border-box;
  transform: translateY(0);
  -webkit-animation: upanddown 5s ease-in-out infinite normal;
  animation: upanddown 5s ease-in-out infinite normal;
}
.banner .planet_container #planet_svg_mask {
  position: absolute;
  z-index: 5;
  width: auto;
  box-sizing: border-box;
}
.banner .planet_container #profile_pic {
  position: absolute;
  z-index: 4;
  width: 100%;
  box-sizing: border-box;
  -webkit-mask-image: url("../assets/svg/planet.svg");
  mask-image: url(../planet.svg);
  mask-mode: alpha;
  z-index: 6;
  -webkit-animation: upanddown 5s ease-in-out infinite normal;
  animation: upanddown 5s ease-in-out infinite normal;
}
.banner .banner_title {
  text-align: left;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  bottom: 20%;
  left: 10vmax;
  right: 10vmax;
  z-index: 7;
}
.banner .banner_title .role_subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11vh;
  line-height: 10vh;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #ffffff;
}
.banner .banner_title .role_subtitle .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.banner .banner_title .role_subtitle .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #fff;
  transform-origin: 0 50%;
}
.banner .banner_title .role_subtitle .line1 {
  top: 0;
  left: 0;
}
.banner .banner_title .role_subtitle .letter {
  display: inline-block;
  line-height: 1em;
}
.banner .banner_title .banner_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  gap: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner_title .banner_name #fname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 9vw;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #ffffff;
  padding-top: 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner_title .banner_name #lname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 9vw;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner_title h3 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 4vw;
  display: flex;
  align-items: center;
  color: #d82448;
}
.flying_objects_container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: inherit;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}
.flying_objects_container #astronout svg {
  width: 100px;
}
.flying_objects_container #rocket svg {
  width: 250px;
}
.flying_objects_container #rock svg {
  width: 100px;
}
.flying_objects_container #sparkles svg {
  width: 100px;
}
.flying_objects_container #star svg {
  width: 75px;
}

.content_jackofalltrades {height: auto;/* display: flex; *//* align-content: center; */}
.content_jackofalltrades #content_jackofalltrades_particles {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 639px;
  z-index: 5;
}
.container_content_jackofalltrades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 8%;
  padding-bottom: 8%;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  min-height: 639px;
  box-sizing: border-box;
  background-color: black;
  justify-content: space-around;
}

.container_content_jackofalltrades h1 {
  font-family: "Agency FB";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.container_content_jackofalltrades p {
  font-family: "Agency FB";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.container_content_jackofalltrades_skills {
  width: 605px;
  height: 435px;
  position: relative;
  min-height: 268px;
}

.container_content_jackofalltrades_skills #content_jackofalltrades_img {
  height: 250px;
  width: 350px;
  z-index: 5;
  -webkit-animation: none;
  animation: none;
  right: 125px;
  z-index: 7;
}
.container_content_jackofalltrades_skills #skill_1 {
  left: 31.11px;
  right: 689.48px;
  top: 186.01px;
  width: 52px;
  animation-delay: 900ms;
}

.container_content_jackofalltrades_skills #skill_2 {
  top: 78px;
  right: 59px;
  animation-delay: 500ms;
}

.container_content_jackofalltrades_skills #skill_3 {
  top: -19px;
  right: 105px;
  animation-delay: 300ms;
}

.container_content_jackofalltrades_skills #skill_4 {
  left: 226px;
  height: 73px;
  top: -55px;
  animation-delay: 800ms;
}

.container_content_jackofalltrades_skills #skill_5 {
  left: 104px;
  animation-delay: 600ms;
}

.container_content_jackofalltrades_skills #skill_6 {
  
  left: 42px;
  top: 99px;
  height: 60px;
  animation-delay: 500ms;
}

.container_content_jackofalltrades_skills #skill_7 {
  top: 180px;
  height: 60px;
  right: 12px;
  animation-delay: 400ms;
}

.container_content_jackofalltrades_skills #skill_8 {
  height: 35px;
  left: 122px;
  top: 115px;
  animation-delay: 500ms;
  -webkit-animation: breathingandrotating 3s ease-in-out infinite normal;
  animation: breathingandrotating 3s ease-in-out infinite normal;
}

.container_content_jackofalltrades_skills #skill_9 {
  height: 35px;
  top: 120px;
  right: 129px;
  animation-delay: 1000ms;
  -webkit-animation: breathingandrotating 1s ease-in-out infinite normal;
  animation: breathingandrotating 1s ease-in-out infinite normal;
}

.container_content_jackofalltrades_skills #skill_10 {
  height: 35px;
  top: -26px;
  right: 193px;
  animation-delay: 100ms;
}

.container_content_jackofalltrades_skills svg {
  width: 75px;
  position: absolute;
  fill: #ffffff;
  color: #ffffff;
  -webkit-animation: breathing 1s ease-in-out infinite normal;
  animation: breathing 1s ease-in-out infinite normal;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 767px) {
  body {
    height: auto;
  }

  .bg-image {
    min-height: 110vw;
  }

  .banner .planet_container {
    /* [disabled]position: relative; */
    float: none;
    box-sizing: border-box;
    left: 4vw;
    right: 4vw;
    top: 10vmin;
    bottom: 1vmin;
    min-height: 65vw;
    width: 100%;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100vw;
    position: relative;
    overflow-x: hidden;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  .banner .banner_title {
    text-align: left;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    bottom: 20%;
    left: -2vmax;
    right: 3vmax;
    z-index: 7;
  }

  .banner .banner_title .role_subtitle {
    font-size: 8vw;
    line-height: 8vw;
  }

  .banner .planet_container #profile_pic {
    width: auto;
    height: 65vw;
  }

  .banner .planet_container #planet_svg {
    width: auto;
    height: 65vw;
  }

  .flying_objects_container #astronout svg {
    width: 50px;
  }
  .flying_objects_container #rocket svg {
    width: 75px;
  }
  .flying_objects_container #rock svg {
    width: 25px;
  }
  .flying_objects_container #sparkles svg {
    width: 59px;
  }
  .flying_objects_container #star svg {
    width: 20px;
  }

  .container_content_jackofalltrades h1 {
    font-size: 8vw;
    line-height: 77px;
  }

  .container_content_jackofalltrades p {
    font-size: 3vw;
  }

  .container_content_jackofalltrades_skills {
    width: 340px;
    height: 91px;
    min-height: 201px;
  }

  .container_content_jackofalltrades_skills #content_jackofalltrades_img {
    height: 153px;
    width: 250px;
    right: 44px;
    bottom: 0px;
  }

  .container_content_jackofalltrades {
    padding-left: 10%;
    padding-right: 10%;
    gap: 0px;
    /* height: auto; */
    display: flex;
    justify-content: center;
    /* min-height: 492px; */
  }

  .container_content_jackofalltrades_skills svg {
    width: 37px;
   
  }
	
	.container_content_jackofalltrades_skills #skill_1 {
    width: 28px;
    animation-delay: 900ms;
    left: 29px;
    top: 172px;
}

.container_content_jackofalltrades_skills #skill_2 {
    top: 113px;
    right: 51px;
    animation-delay: 500ms;
}

.container_content_jackofalltrades_skills #skill_3 {
    top: 61px;
    right: 77px;
    animation-delay: 300ms;
}

.container_content_jackofalltrades_skills #skill_4 {
    left: 173px;
    height: 73px;
    top: -1px;
    animation-delay: 800ms;
}

.container_content_jackofalltrades_skills #skill_5 {
    left: 71px;
    animation-delay: 600ms;
    top: 64px;
}
	
	.container_content_jackofalltrades_skills #skill_6 {
    left: 40px;
    top: 105px;
    height: 60px;
    animation-delay: 500ms;
}


.container_content_jackofalltrades_skills #skill_7 {
    top: 150px;
    height: 60px;
    right: 31px;
    animation-delay: 400ms;
}

.container_content_jackofalltrades_skills #skill_8 {
    height: 19px;
    left: 83px;
    top: 137px;
    animation-delay: 500ms;
    -webkit-animation: breathingandrotating 3s ease-in-out infinite normal;
    animation: breathingandrotating 3s ease-in-out infinite normal;
}

.container_content_jackofalltrades_skills #skill_9 {
    height: 18px;
    right: 88px;
    animation-delay: 1000ms;
    -webkit-animation: breathingandrotating 1s ease-in-out infinite normal;
    animation: breathingandrotating 1s ease-in-out infinite normal;
    top: 139px;
}

.container_content_jackofalltrades_skills #skill_10 {
    height: 24px;
    top: 23px;
    right: 180px;
    animation-delay: 100ms;
}
  .content_jackofalltrades #content_jackofalltrades_particles {
 /* height: auto; */
 /* min-height: 492px; */
}
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}

@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
}

@-webkit-keyframes breathingandrotating {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }

  50% {
    -webkit-transform: scale(0.7) rotate(90deg);
    transform: scale(0.7) rotate(90deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0eg);
    transform: scale(1) rotate(0deg);
  }
}

@keyframes breathingandrotating {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.7) rotate(90deg);
    -ms-transform: scale(0.7) rotate(90deg);
    transform: scale(0.7) rotate(90deg);
  }

  100% {
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
}

