.flying_objects {
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

.flying_objects_container {
  perspective-origin: 50% 50%;
}

.flying_objects:nth-child(1) {
  left: 14%;
  -webkit-animation: raise1 8s linear infinite;
          animation: raise1 8s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(0) rotate(252deg);
  z-index: -6;
  filter: blur(-5px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(59deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(59deg);
  }
}

.flying_objects:nth-child(2) {
  left: 58%;
  -webkit-animation: raise2 18s linear infinite;
          animation: raise2 18s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(0.6) rotate(82deg);
  z-index: -5;
  filter: blur(-4px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(242deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(242deg);
  }
}

.flying_objects:nth-child(3) {
  left: 25%;
  -webkit-animation: raise3 7s linear infinite;
          animation: raise3 7s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  transform: scale(1.2) rotate(4deg);
  z-index: -4;
  filter: blur(-3px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(111deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(111deg);
  }
}

.flying_objects:nth-child(4) {
  left: -8%;
  -webkit-animation: raise4 17s linear infinite;
          animation: raise4 17s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(1.8) rotate(305deg);
  z-index: -3;
  filter: blur(-2px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(355deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(355deg);
  }
}

.flying_objects:nth-child(5) {
  left: 98%;
  -webkit-animation: raise5 12s linear infinite;
          animation: raise5 12s linear infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: scale(2.4) rotate(29deg);
  z-index: -2;
  filter: blur(-1px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(348deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(348deg);
  }
}

.flying_objects:nth-child(6) {
  left: 85%;
  -webkit-animation: raise6 15s linear infinite;
          animation: raise6 15s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: scale(3) rotate(145deg);
  z-index: -1;
  filter: blur(0px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(308deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(308deg);
  }
}

.flying_objects:nth-child(7) {
  left: 40%;
  -webkit-animation: raise7 19s linear infinite;
          animation: raise7 19s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  transform: scale(3.6) rotate(159deg);
  z-index: 0;
  filter: blur(1px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(106deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(106deg);
  }
}

.flying_objects:nth-child(8) {
  left: 75%;
  -webkit-animation: raise8 18s linear infinite;
          animation: raise8 18s linear infinite;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  transform: scale(4.2) rotate(42deg);
  z-index: 1;
  filter: blur(2px);
  filter: brightness(0.6);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(339deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(339deg);
  }
}/*# sourceMappingURL=sass-file.css.map */