* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.banner .banner_title {
  text-align: left;
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  bottom: 20%;
  left: 10vmax;
  right: 10vmax;
  z-index: 7;
}
.banner .banner_title .role_subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 11vh;
  line-height: 10vh;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #ffffff;
}
.banner .banner_title .role_subtitle .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}
.banner .banner_title .role_subtitle .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #fff;
  transform-origin: 0 50%;
}
.banner .banner_title .role_subtitle .line1 {
  top: 0;
  left: 0;
}
.banner .banner_title .role_subtitle .letter {
  display: inline-block;
  line-height: 1em;
}
.banner .banner_title .banner_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  gap: 20px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner_title .banner_name #fname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 9vw;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #ffffff;
  padding-top: 0px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner_title .banner_name #lname {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 9vw;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.banner .banner_title h3 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 4vw;
  display: flex;
  align-items: center;
  color: #d82448;
}
.flying_objects_container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  height: inherit;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}

.flying_objects_container #astronout svg {
  width: 100px;
}
.flying_objects_container #rocket svg {
  width: 250px;
}
.flying_objects_container #rock svg {
  width: 100px;
}
.flying_objects_container #sparkles svg {
  width: 100px;
}
.flying_objects_container #star svg {
  width: 75px;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  overflow-x: hidden;
}

header {
  position: absolute;
  z-index: 20;
  width: 100%;
}

header .hamburger_btn {
  color: #ffffff;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  display: inline-block;
}

header h1 {
  color: #ffffff;
  margin: 10px;
  padding: 5px;
  display: inline-block;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  right: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 60px;
  float: right;
}

.bg-image {
  /* The image used */
  background-image: url("../assets/images/backround.jpg");
  /* Add the blur effect */
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: absolute;
  z-index: -100;
  margin: 0;
  width: 100%;
}

.banner {
  width: 100vmax;
  height: 100%;
  z-index: 1;
  padding-left: 10%;
  padding-right: 10%;
}

.banner .planet_container {
  position: relative;
  float: right;
  width: 85vmin;
  top: 9vmin;
  bottom: 9vmin;
  box-sizing: border-box;
}

.banner .planet_container #planet_svg {
  position: absolute;
  z-index: 3;
  width: auto;
  box-sizing: border-box;
  transform: translateY(0);
  -webkit-animation: upanddown 5s ease-in-out infinite normal;
  animation: upanddown 5s ease-in-out infinite normal;
}

.banner .planet_container #planet_svg_mask {
  position: absolute;
  z-index: 5;
  width: auto;
  box-sizing: border-box;
}

.banner .planet_container #profile_pic {
  position: absolute;
  z-index: 4;
  width: 100%;
  box-sizing: border-box;
  -webkit-mask-image: url("../assets/svg/planet.svg");
  mask-image: url(../planet.svg);
  mask-mode: alpha;
  z-index: 6;
  -webkit-animation: upanddown 5s ease-in-out infinite normal;
  animation: upanddown 5s ease-in-out infinite normal;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 767px) {
  .bg-image {
    min-height: 110vw;
  }

  .banner .planet_container {
    /* [disabled]position: relative; */
    float: none;
    box-sizing: border-box;
    left: 4vw;
    right: 4vw;
    top: 10vmin;
    bottom: 1vmin;
    min-height: 65vw;
    width: 100%;
  }
  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    min-height: 100%;
    position: absolute;
  }

  .banner .banner_title {
    text-align: left;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    bottom: 20%;
    left: -2vmax;
    right: 3vmax;
    z-index: 7;
  }

  .banner .banner_title .role_subtitle {
    font-size: 8vh;
    line-height: 10vh;
  }

  .banner .planet_container #profile_pic {
    width: auto;
    height: 65vw;
  }

  .banner .planet_container #planet_svg {
    width: auto;
    height: 65vw;
  }

  .flying_objects_container #astronout svg {
    width: 50px;
  }
  .flying_objects_container #rocket svg {
    width: 75px;
  }
  .flying_objects_container #rock svg {
    width: 25px;
  }
  .flying_objects_container #sparkles svg {
    width: 59px;
  }
  .flying_objects_container #star svg {
    width: 20px;
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@-webkit-keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
  }
}
@keyframes upanddown {
  0% {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
  }
}
